.accordion {

    display: block;
    width: 100%;
    padding: 2rem 0;
    max-width: 1100px;
    margin: 0 auto;

    &__wrapper {
        padding: 1rem;
    }

    &__item {

        margin-bottom: 1rem;

        &__tab {

            display: flex;
            background: $primary_color;
            color: #fff;
            cursor: pointer;
            padding: 1rem;
            margin: 0;
            border-radius: 5px;
            position: relative;
            transition: all .4s ease;

            &__title {

                font-weight: bold;
                
            }

            &__icon {

                position: absolute;
                right: 0;
                top: 0;
                padding: 1rem;

                & .fa {
                    transform: rotate(0);
				    transition: transform .4s ease;
                }

            }

        }

        &__content {

            height: 0;
            overflow: hidden;
            position: relative;
            background: #fff;
            
            &__inner {

                padding: 1rem;
                
            }
            
        }

        &--open & {

			&__tab {

                background: $primary_gray;

				&__icon .fa {

                    transform: rotate(-180deg);
                    
				}

			}
			&__content {

                height: auto;
                border-left: 1px solid #000;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                border-radius: 0 0 5px 5px;
                top: -3px;
                padding-top: 3px;
                
			}

		}

    }

}