.card {
    display: block;
    width: 100%;
    padding: 0;
    background: transparent;

    &__wrapper {

        justify-content: flex-start;

    }

    &__item {

        display: flex;
        flex-direction: column;
        padding: 1rem;

        @media only screen and (max-width:990px) {
            width: 50%;
        }

        @media only screen and (max-width:500px) {
            width: 100%;
        }

        &__wrapper {
            
            width: 100%;
            border-radius: 10px;
            background: #fff;
            height: 100%;

        }

        &--4 {
            width: 25%;
        }

        &--3 {
            width: 33%;
        }

        &--2 {
            width: 50%;
        }

        &--1 {
            width: 100%;
        }

        &__image {

            padding: 0;
            height: 160px;

            & img {
                width: 100%;
            }

        }

        &__inner {

            display: flex;
            flex-direction: column;
            justify-content: stretch;

        }

        &__content {
            flex-grow: 1;
        }

        @media only screen and (max-width:990px) {
            width: 50%;
        }

        @media only screen and (max-width:500px) {
            width: 100%;
        }
        
    }

}