/*
.carousel {

    .carousel-control-next, .carousel-control-prev {
        width: 2%;
    }


    &__item {

        max-height: 75vh;

        .carousel-caption {
            background: rgba(255, 255, 255, 0.9);
            color: black;
            right: 30%;
            left: 30%;
            bottom: 50px;
            padding: 2rem 3rem;
            border-radius: 5px;
            margin-bottom: -5px;
            padding-bottom: 25px;
            box-shadow: 5px 3px 30px black;
            overflow: hidden;
        
            & h1 {
                text-transform: capitalize;
            }
        
            @media only screen and (max-width:768px) {
                right: 3%;
                left: 3%;
                padding: 1rem 1rem 2rem;
        
                & h1 {
                    margin: .5rem 0;
                }
            }
        
            @media only screen and (max-width:630px) {
        
                position: relative;
                left: 0;
                border-radius: 0 0 5px 5px;
                top: 0;
                padding-bottom: 5rem;
        
                & .d-none {
                    display: block!important;
                }
        
            }
        
        }
        
        .carousel-indicators li {
            background-color: $primary_gray;
        }
        
        .carousel-indicators .active {
            background-color: $primary_color;
        }
        
        &__inner {

            padding: 2rem 2rem 5rem;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
    
        }
    
        &__content {
    
            max-width: 90%;
            text-align: center;
            display: flex;
            flex-direction: column;
            background: #fff;
            border-radius: 5px;
            padding: 2rem 4rem;
            box-shadow: 5px 3px 30px #000;
            
        }
        
    }

}
*/
