/* Link Style */
a {
	color:$primary_color;
	text-decoration:none;
}
a:hover {
    color: $primary_color;
    text-decoration: none;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}

/* Button Style */
input[type='submit'] {
    width: 120px;
}

.button, input[type='submit'] {
    display: inline-block;
    margin: 1.5em auto 1rem;
    padding: .7em 1.5em;
    border: 1px solid rgba(0,0,0,.32);
    box-shadow: 1px 2px 4px rgba(0,0,0,.16);
    cursor: pointer;
    color: $primary_color;
    background: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;

    &.button--primary {
        background: transparent;
        color: $primary_color;
        overflow: hidden;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        
        &.button--inverted {
            background: none;
            color: $primary_color;
        }
    
    }
    
    &.button--secondary {
        background: $primary_color;
        color: #fff;
        overflow: hidden;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        
        &.button--inverted {
            background: none;
            color: $primary_color;
        }
        
    }

    &.button--admin {
        min-width: 150px;
        text-align: center;
        margin: 0 1rem;
        background: #fff;
        font-weight: bold;
        color: darken( $primary_color, 10% );
        border-color: darken( $primary_color, 10% );
        border-width: 3px;

        & i {
            display: block;
            margin: 10px 0;
        }
    }

}

.button--primary::before,
.button--primary::after,
.button--secondary::before,
.button--secondary::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--primary::before {
	background: #363237;
}
.button--primary::after {
    background: $primary_color;
    border: 1px solid $primary_color;
}
.button--primary:hover {
	color: #fff;
}
.button--primary:hover::before,
.button--primary:hover::after, 
.button--secondary:hover::before,
.button--secondary:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--primary:hover::after, .button--secondary:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}