input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

input[type="text"], 
input[type="email"], 
input[type="tel"],
input[type="password"], 
textarea, 
select {
    border-radius: 10px;
    width: 100%;
    padding: 1rem 1.2rem;
    color: #495057;
    background-color: #f6f6f6;
    border: 1px solid #ced4da;
    font-size: 1.5rem;
    margin: .5rem 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.73);
    text-align: left;
}

.login-remember {
    display: none;
}


input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="checkbox"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
select:focus {
    border: 1px solid $primary_color;
    color: #000;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.sub-cont .message.success {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wpforms-form input[type=text], .wpforms-form textarea, .wpforms-form input[type=email] {
    border-radius: 5px !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.73) !important;
    text-align: left;
    border: none !important;
}

.wpforms-form button[type=submit] {
    border-radius: 5px !important;
    background: transparent !important;
    border: 2px solid #fff !important;
    font-weight: bold !important;
    color: #fff !important;
}

.wpforms-form button[type=submit]:hover {
    background: #fff !important;
    border: 2px solid $primary_gray !important;
    color: $primary_gray !important;
}
