$primary_color: #2EB398;
$primary_gray: #363237;
$primary_gray_light: lighten( $primary_gray, 5% );
$primary_gray_dark: darken( $primary_gray, 5% );
$font_color: #444;

.primary-color-bg {
    background: $primary_color;
}

.primary-color {
    color: $primary_color;
}