/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 15px/1.4 'Source Sans Pro', sans-serif;
    color:#444;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	width:100%;
	margin:0 auto;
    position:relative;
    flex: 1 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

.header {
    padding: 6rem 0 0;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;

    @media only screen and (max-width:768px) {
        padding: 0 2rem;
    }

    &__title {
        font-size: 4em;
        margin: 1rem 0 0;
        font-weight: bold;
        background-color: #000;
        color: transparent;
        text-shadow: 0px 0px 10px rgba(255,255,255,0.4);
        -webkit-background-clip: text;
            -moz-background-clip: text;
                background-clip: text;

        &.inverted {
        background-color: #fff;
        color: transparent;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        -webkit-background-clip: text;
            -moz-background-clip: text;
                background-clip: text;
        }
    }

    &__subtitle {
        font-size: 1.5em;
        font-weight: bold;
    }
}

article {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
}

/* logo */
.logo {
    display: inline;
}

.logo a {
    display: block;
}

.logo-img {
    width: 54px;
    height: 45px;
    display: inline-block;
    padding-right: 1rem;
}

/* nav */
.header_nav {
    font-size: 1em;
    background: $primary_gray;
    padding: 1.5rem;
}

.nav-item {
    padding: .5rem .3rem;
    display: flex;
    align-items: center;

    &.icon {
        margin: 0 5px;
        text-align: center;
        color: rgba(255,255,255,.5);

        @media only screen and (max-width:360px) {
            margin: 0;
        }
    }
    
    &.profile {
        background: $primary_gray_light;
        border-radius: 50%;
        padding: 0;

        &:hover {
            background: #444;
        }

        & a {
            color: $primary_color;
            padding: 1rem;

            &:hover {
                color: #fff;
                text-decoration: none;
            }

        }

    }

}

.navbar-toggler {
    margin-right: auto;
}

.social-media {
    margin: 10px 0;
}

.social-media-icons {
    display: flex;

    & .social-icon {
        margin: 0 1rem;
    }
}

.nav-link {
    padding: 0 .3rem;
}

.fa:before {
    font-size: 1.4em;
}

.main-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;

    &.single {
        max-width: 1300px;
        margin-top: 3rem;
        background: #fff;
        border-radius: 10px;
        padding: 2rem;
    }
}

.pad-top {
    padding-top: 3rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 0;
}

body .timeline-Widget {
    color: #fff !important;
}

/* footer */
.footer {
    background: $primary_gray;
    padding: .5rem 1rem;
    color: #eee;
    flex-shrink: 0;
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin: 0;
    padding: .5rem 1rem;
}

/*------------------------------------*\
    GLOBAL
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    padding-bottom: .5rem;
}

h1 {
    font-size: 4.25rem;

    @media ( max-width: 768px ) {
        font-size: 3rem;
    }

}

img {
	max-width:100%;
	vertical-align:bottom;
}

/** Main Temploate **/
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}

.wpforms-field-hp, .wpforms-field-container label {
    display: none;
}

/*------------------------------------*\
    BOX Layout
\*------------------------------------*/
.box__grid {
    display: flex;
    position: relative;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    padding: .5rem;

    @media only screen and (max-width:1100px) {
        flex-direction: column;
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-basis: 100%;

        @media only screen and (max-width:700px) {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        & .box {
            display: flex;
            justify-content: stretch;
            background: transparent;
            flex-basis: 100%;

            &--large {
                flex-basis: 100%;
                width: 100%;

                @media only screen and (max-width:1100px) {
                    min-height: 450px;
                }

                @media only screen and (max-width:768px) {
                    min-height: 350px;
                }

            }

            &--med {
                flex-basis: 50%;
                width: 50%;
                min-height: 285px;

                @media only screen and (max-width:768px) {
                    flex-basis: 100%;
                    width: 100%;
                }
                
            }

            &--small {
                flex-basis: 33%;
                width: 33%;
                min-height: 285px;

                @media only screen and (max-width:768px) {
                    flex-basis: 100%;
                    width: 100%;
                }

            }

            &__inner {
                margin: 1rem;
                flex-basis: 100%;
                background: #fff;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &__content {
                    background: #000;
                    color: #fff;
                    opacity: .75;
                    margin-top: 5vw;
                    padding: 1rem;
                    text-shadow: 0 1px 0 rgba(0,0,0,.42);

                    &__title {
                        font-size: 2em;
                        padding-bottom: .5rem;
                    }
                }
            }
        }
    }
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}

/* Pagination */
.pagination {
    display: block;
    padding: 1rem 0;
    text-align: center;
    margin: 2rem 0;

    & .page-numbers {
        margin: 0 .1rem;
        border-radius: 5px;
        padding: 1rem;
        border: 1px solid $primary_gray;
        color: #fff;
        background: $primary_color;

        &:hover {
            text-decoration: none;
            background: darken( $primary_color, 5% );
        }
    }

    & .current {
        background: #fff;
        border: 1px solid $primary_gray;
        color: $primary_gray;
        box-shadow: 0px 0px 5px inset $primary_gray;

        &:hover {
            background: #fff;
        }
    }
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
