
/* Jump-Link Style */
.jump-link {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 6000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1.15); }
    40% { transform: scale(1); }
    50% { transform: scale(1.2); }
    60% { transform: scale(1); }
    70% { transform: scale(1.15); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 4rem;
    padding: 4rem 0 0;

    @media only screen and (max-width:630px) {

    }
}

.card {
    border-radius: 10px;
    margin-bottom: 1rem;
    border: none;
    width: 22rem;
    text-align: center;
}

.card-top {
    border-radius: 10px 10px 0 0;
    flex-basis: 35%;
    padding: 3.5rem 0;
    height: 100%;
    background: #363237;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-img-top {
    max-width: 120px;
    margin: 0 auto;
}

.card-top i {
    color: $primary_color;
}

.card-title {
    margin-top: 0;
}

.card-body {
    padding: 2rem 1.25em 1rem
}

/* Card Shadow Effect */
.link
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.link:before, .link:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.link:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.cont {
    overflow: hidden;
    position: relative;
    width: 1100px;
    height: 550px;
    margin: 5rem auto;
    background: #fff;

    @media only screen and (max-width:1000px) {
        display: none;
    }
}

/* Login/Register Form */
.form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
    text-align: center;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 1100px;
    height: 100%;
    padding-left: 460px;
    background: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 460px;
    height: 100%;
    padding-top: 360px;
    border-radius: 10px;
}
.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1100px;
    height: 100%;
    background-image: url('./img/metro.jpg');
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}
.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 2rem;
    text-align: center;
    color: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 2rem;
    font-weight: bold;
}

.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
        transform: translateX(520px);
}
.img__text.m--in {
    -webkit-transform: translateX(-520px);
        transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
        transform: translateX(0);
}
.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
}
.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}
.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
        transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
        transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
        transform: translateY(72px);
}

label {
    display: block;
    width: 260px;
    margin: 15px auto 0;
    text-align: center;
}
label span {
    font-size: 12px;
    color: #444;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.submit {
    margin-top: 40px;
}

.sign-in {
    transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
        transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
        transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}


/* Contact Page */
.contact-box {
    display: block;
    width: 100%;

    &__inner {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 0 auto 2rem;
        width: 100%;
        overflow: hidden;
        max-width: 1300px;
        background: $primary_gray;
        box-shadow: 0 3px 6px rgba(0,0,0,.43);

        & h1 {
            margin: 3rem 0;
            padding: 0 1rem;
            color: #fff;
            text-transform: capitalize;
            text-align: center;
        }

    }

    &__details {
        padding: 0 3rem 5rem;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;

        @media only screen and (max-width:440px) {
            flex-wrap: wrap;
        }

        & i {
            color: $primary_color;
            text-shadow: 0 1px 0 rgba(255,255,255,.62);
            margin-bottom: 1rem;
        }

        & .contact-item {
            display: flex;
            flex-direction: column;
            align-content: center;
            padding: 0 2rem;

            @media only screen and (max-width:440px) {
                padding: 2rem;
            }

        }
    }
}

.contact-box__bottom {
    display: flex;
    justify-content: space-between;
    flex-basis: 75%;

    @media only screen and (max-width:768px) {
        flex-direction: column;
    }

    &__form, &__map {
        flex-basis: 50%;
    }

    &__form {
        padding: 3rem;
        background: $primary_color;
    }

    &__map {

        @media only screen and (max-width:768px) {
            min-height: 400px;
        }

        & iframe {
            width: 100%;
            height: 100%;

            @media only screen and (max-width:768px) {
                height: 400px;
            }

        }
    }

}