/* Admin Settings */
.welcome-panel {
    padding: 0;
    border-radius: 10px;
}

.project_info {
    padding: 2rem 2rem 0;
}

.project_info__help {
    display: flex;
    justify-content: flex-start;
}

.project_info__box {
    flex-basis: 100%;
}

.project_info__box h3 {
    margin-bottom: 1rem;
}

.action-link {
    padding: .25rem 0;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
}

.action-link span {
    padding-right: 5px;
}

.admin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    width: 50%;
    margin: 2rem;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    box-shadow: 0 20px 36px -23px rgba(0,0,0,.65);
}

.admin_header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.admin_header img {
    max-height: 50px;
    width: auto;
}

.admin_body {
    padding: 10px;
}

.admin_footer {
    height: 30px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.admin h4, .admin h3 {
    margin: 0;
}